@model iCompass.Models.DadosInfluencer

@{
    ViewData["Title"] = "Editar";
}

<h1 class="subtitulo">Editar</h1>

<h4>Dados Influencer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DadosInfluencerId" />
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label">Usuário</label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoConteudoId" class="control-label">Conteúdo</label>
                <select asp-for="TipoConteudoId" class="form-control" asp-items="ViewBag.TipoConteudoId"></select>
                <span asp-validation-for="TipoConteudoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoRedeSocialId" class="control-label">Rede Social</label>
                <select asp-for="TipoRedeSocialId" class="form-control" asp-items="ViewBag.TipoRedeSocialId"></select>
                <span asp-validation-for="TipoRedeSocialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
