@{
    ViewData["Title"] = "iCompass";
}
<link rel="stylesheet" href="/css/home.css" />

<div class="h1"> 
    <p>Seja Bem-Vindo (a) ao nosso sistema</p>
</div>
<div>
    <img class="fundo" src="/img/fundo.png" />
</div>
