@model iCompass.Models.Usuario

@{
    ViewData["Title"] = "Cadastrar";
}

<h1 class="subtitulo">Cadastrar</h1>

<h4>Usuário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeUsuario" class="control-label">Usuário</label>
                <input asp-for="NomeUsuario" class="form-control" />
                <span asp-validation-for="NomeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdadeUsuario" class="control-label">Idade</label>
                <input asp-for="IdadeUsuario" class="form-control" />
                <span asp-validation-for="IdadeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoSexoId" class="control-label">Sexo</label>
                <select asp-for="TipoSexoId" class ="form-control" asp-items="ViewBag.TipoSexoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CpfUsuario" class="control-label">CPF</label>
                <input asp-for="CpfUsuario" class="form-control" />
                <span asp-validation-for="CpfUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoUsuario" class="control-label">Endereço</label>
                <input asp-for="EnderecoUsuario" class="form-control" />
                <span asp-validation-for="EnderecoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneUsuario" class="control-label">Telefone</label>
                <input asp-for="TelefoneUsuario" class="form-control" />
                <span asp-validation-for="TelefoneUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanoId" class="control-label">Planos</label>
                <select asp-for="PlanoId" class ="form-control" asp-items="ViewBag.PlanoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmailUsuario" class="control-label">E-mail</label>
                <input asp-for="EmailUsuario" class="form-control" />
                <span asp-validation-for="EmailUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoUsuarioId" class="control-label">Tipo Usuário</label>
                <select asp-for="TipoUsuarioId" class="form-control" asp-items="ViewBag.TipoUsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SenhaUsuario" class="control-label">Senha</label>
                <input asp-for="SenhaUsuario" class="form-control" />
                <span asp-validation-for="SenhaUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmarSenhaUsuario" class="control-label">Confirmar Senha</label>
                <input asp-for="ConfirmarSenhaUsuario" class="form-control" />
                <span asp-validation-for="ConfirmarSenhaUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiografiaUsuario" class="control-label">Biografia</label>
                <input asp-for="BiografiaUsuario" class="form-control" />
                <span asp-validation-for="BiografiaUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoUsuario" class="control-label">Foto</label>
                <input asp-for="FotoUsuario" class="form-control" />
                <span asp-validation-for="FotoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn-primary" asp-action="Index">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
